@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

.radios {
  background-color: #eee;
  border-radius: 4px;
  padding: 15px;
}

.radios label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

input[type=radio] {
  position: relative;
  bottom: 3px;
}

input[type=checkbox] {
  margin-bottom: 15px;
  margin-left: 10px;
}

select {
  margin-bottom: 15px;
}

input[type=submit] {
  margin-top: 30px;
}
